{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
{% for page in page_obj %}
<li>{{ page }}</li>
{% endfor %}
<nav>
    <ul>
        {% for page in page_obj.paginator.page_range %}
        <li>
            <a href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

{% endblock %}