{% load static %}
{% load women_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/main.ico' %}">
</head>

<body>
    <table class="table-page" border=0 cellpadding="0" cellspacing="0">
        <tr>
            <td valign=top>
                {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                        <li class="logo"><a href="{% url 'home' %}">
                                <div class="logo"></div>
                            </a></li>
                        {% for m in menu %}
                        <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                        {% endfor %}
                        {% if request.user.is_authenticated %}
                        <li class="last"> {{ user.username }} | <a href="{% url 'logout' %}">LogOut</a></li>
                        {% else %}
                        <li class="last"><a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">LogIn</a></li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                {% endblock mainmenu %}


                <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- Sidebar слева -->
                        <td valign="top" class="left-chapters">
                            <ul id="leftchapters">
                                {% if category_selected == 0 %}
                                <li class="selected">All categories</li>
                                {% else %}
                                <li><a href="{% url 'home' %}">All categories</a></li>
                                {% endif %}

                                {% for cat in category %}
                                {% if cat.women__count > 0 %}
                                {% if cat.pk == category_selected %}
                                <li class="selected">{{ cat.name }}</li>
                                {% else %}
                                <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                <!-- <li><a href="#">Actors</a></li>
                                <li><a href="#">Singers</a></li>
                                <li><a href="#">Sportsman</a></li> -->

                                <li class="share">
                                    <p>Our chanel</p>
                                    <a class="share-yt" href="#" target="_blank" rel="nofollow"></a>
                                </li>
                            </ul>
                        </td>
                        <!-- Конец Sidebar'а -->
                        <td valign="top" class="content">
                            <!-- Хлебные крошки -->
                            {% block breadcrumbs %}
                            {% endblock %}

                            <!-- Блок контента -->
                            <div class="content-text">
                                {% block content %}
                                {% endblock %}
                                {% if page_obj.has_other_pages %}
                                <nav class="list-pages">
                                    <ul>
                                        {% if page_obj.has_previous %}
                                        <li class="page-num">
                                            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                                        </li>
                                        {% endif %}
                                        {% for page in paginator.page_range %}
                                        {% if page_obj.number == page %}
                                        <li class="page-num page-num-selected">{{ page }}</li>
                                        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                        <li class="page-num">
                                            <a href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                        <li class="page-num">
                                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>
                            <!-- Конец блока контента -->

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <td valign=top>
                <div id="footer">
                    <p>&copy; 2023 @Personal website.</p>
                </div>
            </td>
        </tr>
    </table>
    <!-- Конец footer'а и страницы -->
</body>

</html>