{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<ul class="list-articles">
    {% for woman in posts %}
    <li><div class="article-panel">
        <p class="first">Category: {{ woman.category }}</p>
        <p class="last">Date: {{ woman.time_update|date:"d-m-Y H:i:s" }}</p>
    </div>
        {% if woman.photo %}
            <p><img class="img-article-left thumb" src="{{ woman.photo.url }}"></p>
        {% endif %}
        <h3>{{woman.title}}</h3>
        <p>{{ woman.content|linebreaks|truncatewords:15 }}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{% url 'post' woman.slug %}">Read post</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock %}