{% for cat in cats %}
{% if cat.pk == category_selected %}
<li class="selected">{{ cat.name }}</li>
{% else %}
<li><a href="{% url 'category' cat.slug %}">{{ cat.name }}</a></li>
{% endif %}
{% endfor %}