{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for field in form %}
    <p><label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}</p>
    <div class="form-error">{{ field.errors }}</div>
    {% endfor %}
    <button type="submit">Login</button>
</form>
{% endblock %}