{% extends 'base.html' %}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.photo %}
    <p><img class="img-article-left" src="{{ post.photo.url }}"></p>
{% endif %}

{{ post.content|linebreaks }}
{% endblock %}