{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p><label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>{{ field }}</p>
    <div class="form-error">{{ field.errors }}</div>
    {% endfor %}
    <button type="submit">Registration</button>
</form>
{% endblock %}